<p id="notice"><%= notice %></p>

<h1>Truites</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @truites.each do |truite| %>
      <tr>
        <td><%= truite.content %></td>
        <td><%= link_to 'Show', truite %></td>
        <td><%= link_to 'Edit', edit_truite_path(truite) %></td>
        <td><%= link_to 'Destroy', truite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Truite', new_truite_path %>
