<p id="notice"><%= notice %></p>

<h1>Users</h1>
<a class="btn-manag" href="<%=new_user_path %>">Créer un utilisateur</a>

<table class="display-users">
  <thead>
    <tr>
      <th style="display: block; margin-bottom: 50px; text-align: center;">Users</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr class="rm-marg centered" style="display: inline-block; margin: 0 20px 20px 20px;">
        <td class="rm-marg"><%= user.name %></td>
        <td class="rm-marg"><img class="img-user" src="<%= user.img_url %>"></td>
        <td class="rm-marg"><%= link_to 'Show', user %></td>        
        <td class="rm-marg"><%= link_to 'Edit', edit_user_path(user) %></td>
        <td class="rm-marg"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>


  